<h1>Sign up!</h1>

Click on the Google button to sign up with your Google account or create an account below. 
<%= button_to 'Google', '/auth/google_oauth2' %> 
<br><br>

<%= form_for(@user) do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Sign Up" %>
<% end %>