<h1> Welcome <%=@user.username%>! </h1>

Click the Create Business Card button to create a new business card. 
<br>
<%= link_to "Create Business Card", new_business_card_path %>

<h2>Your Business Card(s):</h2>
You may also edit and delete your cards below. 

<ul>
<% @user.business_cards.each do |b| %>
<li>
    <h4>Category: <%= b.category.name %> </h4>
    <%= b.name %> 
    <br>
    <%= b.email %>
    <br>
    <%= b.web_site %> 
    <br> 
    <%= b.phone_number %>
    <br>
    <%= link_to "Edit Card", edit_business_card_path(b.id) if b.user_id == session[:user_id] %> 
    <br>
</li>
    ____________________________
<%end%> 
</ul>
