<%# <p>Select a Category </p> %>

<%= form_for @business_card do |f|%> 

  <%# <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Select Category'%> 
  <%# <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, include_blank: "Select Category"%>
  <%# <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true %>


  <p>Add a Category:</p>
      <%= f.fields_for :category do |m| %>
          <%= m.text_field :name %>
          <% Category.all.each do |c| %>
         <option value = "<%= c.name %>"  ></option>
          <% end %>
      <% end %>
      
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br></br>
  <%= f.label :web_site %>
  <%= f.text_field :web_site %>
  <br></br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <br></br>
  <%= f.submit "Submit" %>
<% end %>